/*메인 css  main.css*/

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /*보이는 화면기준*/
    overflow: hidden;
}

body {
    background-color: #dee3e8;
}

ul,ol {
    list-style: none;
}

/*.rbx::before {
    content: "";
    display: block;
    padding-top: 49%;
    부모요소의 가로크기에 대한 패딩탑
    높이값이 없는 부모요소에 높이값을 만들어줌
    
}*/

.top {
    margin-top: 30px;
    width: 100%;
    height: 60px;
    background-color: #002846;
}

.tit {
    position: absolute;
    top: 0;
    left: 3%;
    font-size: 40px;
    color: #e37e7e;
}

.projt {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: auto;
    /*비율유지 하려고 height!*/
    margin: 0 auto;
    /*outline: 2px solid red;*/
}

.imgbox {
    display: inline-block;
}

.projt img {
    position: absolute;
    top: 0;
    width: 100%;
    /*트랜지션 : 속시이지*/
    transition: all .4s ease-in-out;
    margin: 0 auto;
}

.projt a img {
    top: 0%;
    left: 0%;
    transform: scale(.4);
    opacity: 0;
}

/*가운데 뒤*/
.projt a:nth-child(1) img{
    top: 0%;
    left: 0%;
    transform: scale(.1);
    opacity: 0;
    filter: grayscale(99%) blur(3px);
}

/*가운데 뒤*/
/*왼쪽*/
.projt a:nth-child(2) img{
    top: 0%;
    left: -73%;
    transform: scale(.3);
    opacity: 1;
    filter: grayscale(50%) blur(3px);
    z-index: 3;
    box-shadow: 3px 3px 3px #666;
}

/*왼쪽*/
.projt a:nth-child(3) img{
    top: 0%;
    left: -127%;
    transform: scale(.6);
    opacity: 1;
    filter: grayscale(50%) blur(2px);
    z-index: 4;
    box-shadow: 3px 3px 3px #666;

}

/*중앙*/
.projt a:nth-child(4) img{
    top: 0;
    left: 0;
    transform: scale(1);
    opacity: 1;
    filter: saturate(1.5);
    z-index: 5;
}

/*오른쪽*/
.projt a:nth-child(5) img{
    top: 0%;
    left: 127%;
    transform: scale(.6);
    opacity: 1;
    filter: grayscale(50%) blur(2px);
    z-index: 4;
    box-shadow: 3px 3px 3px #666;
}

/*오른쪽*/
.projt a:nth-child(6) img{
    top: 0%;
    left: 73%;
    transform: scale(.3);
    opacity: 1;
    filter: grayscale(50%) blur(3px);
    z-index: 3;
    box-shadow: 3px 3px 3px #666;
}

.projt a:nth-child(7) img{
    top: 0%;
    left: 0%;
    transform: scale(.1);
    opacity: 0;
    filter: grayscale(99%) blur(3px);
}

/*4. 이동버튼 셋팅*/
.abtn {
    position: absolute;
    top: 80%;
    /* transform: translateY(-50%);*/
    width: 25px;
    height: 49px;
    z-index: 2;
}

/*왼쪽버튼*/
.lb {
    left: 40%;
    background: url(../images/btn_shop_bn_left.png) no-repeat;
}

/*오른쪽버튼*/
.rb {
    right: 40%;
    background: url(../images/btn_shop_bn_right.png) no-repeat;

}

.abtn:hover {
    background-position: 0 -49px;
}

.mid {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 60px;
    background-color: #e37e7e;
    z-index: -1
}

.botton {
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 60px;
    background-color: #002846;
    z-index: -1
}
