@charset "utf-8";

/* 외부 css */
@import url(reset.css);
@import url(core.css);


html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /*한페이지를 채우는 *page를 위해 높이값 100%보이는 화면 기준을 꼮해야함*/
}

* {
    margin: 0;
    padding: 0;

}

/*백그라운드 이미지 */
body {
    overflow-x: hidden;
}

#top {
    position: relative;
    width: 100%;
    position: fixed;
    border: 2px solid #ccc;
    background-color: #fff;
}

.t1 {
    height: 70px;
}

.tlogo {
    position: relative;
    top: 0;
    left: 0;
    width: 20%;
    height: 70px;
    display: inline-block;
    float: left;


    border: 1px solid blue;
    box-sizing: border-box;
}

.tloin {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 14%;
    width: 80%;
    border: 1px solid green;
    box-sizing: border-box;
}

.tloin img {
    position: relative;
    top: 50%;

    width: 80%;
}


.gnb {
    position: relative;
    top: 0;
    left: 0;
    width: 60%;
    height: 70px;
    display: inline-block;
    white-space: normal;
    font-size: 1rem;
    font-weight: bold;
      

    border: 1px solid black;
    box-sizing: border-box;
}



.gnblist li + li {
    margin-left: 6%;
}











.page {
    overflow-x: hidden;
    margin: 0 3%;
    outline: 2px solid green
}

#pg1 {

    height: 937px;
    background-color: #c63b3b;
}

#pg2 {

    height: 937px;
    background-color: #c6b13b;
}

#pg3 {

    height: 937px;
    background-color: #3bc67b;
}

#pg4 {

    height: 937px;
    background-color: #3b8bc6;
}

#pg5 {

    height: 937px;
    background-color: #c63b86;
}

.foot {

    height: 300px;
    background-color: #a13bc6;
}
