@charset "utf-8";
/*메인 사이트 : 미디어 쿼리 - media.css*/


@media only screen and (max-width:1700px) {

    #pg1 {
        height: 56vw;
        margin-top: 70px;
    }


}

/*1700px 미디어 쿼리*/


/*900px이하미디어 쿼리*/
@media only screen and (max-width:1024px) {


    html,
    body {
        width: 100vw;
        height: auto;
    }

    #pg1 {
        margin-top: 70px;
    }

    #pg2 {
        height: 80vw;
    }

    #pg3 {
        height: 100vw;
    }

    #pg4 {
        height: 80vw;
    }

    #pg5 {
        height: 100vw;
    }

    .ptit {
        top: 0;
        left: 54%;
    }

    .ptbox {
        top: 3%;
    }

    .p2tbox {
        left: 20%;
        width: 20%;
    }

    .p3tbox {
        left: 3%;
    }

    .p4tbox {
        left: 13%;
    }

    .p5tbox {
        left: 18%;
    }

    /************************2페이지**************************/

    .ptit a {
        font-size: 6vw;
    }

    .box_skitter {
        position: absolute;
        top: 0;
        left: 0;
    }

    .bx-wrapper {
        width: 28vw;
        height: 27vw;
    }

    .box_skitter .prev_button {
        top: 58%;
    }

    .box_skitter .next_button {
        top: 58%;
    }

    .box_skitter {
        position: absolute;
        top: -10%;
        left: 35%;
        transform: translateX(-50%);
        min-width: 70vw;
        min-height: 35vw;
        width: 46.89vw;
        height: 23.8vw;
    }

    .box_skitter .next_button {
        width: 3.2vw;
        height: 3.2vw;
    }

    .box_skitter .prev_button {
        width: 3.2vw;
        height: 3.2vw;
    }

    .box_skitter .info_slide_dots .image_number {
        width: 1.4vw;
        height: 1.4vw;
    }


    .p2bantit {
        top: 6%;
        left: 48%;
    }

    .bx-wrapper {
        position: absolute;
        top: 147%;
        left: -40%;
    }

    .p2bg {
        top: 111%;
    }

    .p2icfelx {
        top: 194.3%;
        left: 26%;
    }

    .p2ic {
        width: 8vw;
        height: 8vw;
    }

    .boxmore img {
        width: 3vw;
    }

    .bx-wrapper .bx-pager {
        position: absolute;
        top: -1.5vw;
        left: -29%;
    }

    .bx-wrapper .bx-pager.bx-default-pager a {
        width: 1vw;
        height: 1vw;
    }

    /**********************3페이지****************************/

    .p2nbox1 {
        top: 117%;
        left: 2%;
        width: 33vw;
        height: 26vw;
    }

    .p2nbox2 {
        top: 117%;
        left: 52%;
        width: 33vw;
        height: 26vw;
    }

    .p2boxtit {
        font-size: 3vw;
    }

    .p2boxli {
        font-size: 1.5vw;
    }

    .p3bg {
        position: absolute;
        top: 70%;
        left: 7%;
        width: 62vw;
        height: 42vw;
        margin-top: 13%;
    }

    .p3icfelx {
        top: 117%;
        left: 50%;
        width: 60vw;
        height: 5vw;
        margin-top: 37%;
    }

    .p3icfelx li a img {
        width: 6vw;
        height: 6vw;
    }

    .p3icfelx li a span {
        font-size: 1.4vw;
    }

    /************************4페이지**************************/

    #p4box {
        top: 4%;
        left: 2%;
        width: 87vw;
        height: 63vw;
    }

    .pg4p1box {
        position: absolute;
        top: 5%;
        left: 4%;
        width: 26vw;
        height: 47vw;
        /*outline: 1px solid red;*/
        z-index: 10;
        transition: all 2s;

    }

    .pg4p2box {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: 26vw;
        height: 47vw;
        /*outline: 1px solid green;*/
        z-index: 10;
        transition: scale 2s;
    }

    .pg4p3box {
        position: absolute;
        top: 5%;
        left: 66%;
        width: 26vw;
        height: 47vw;
        /* outline: 1px solid blue;*/
        z-index: 10;
        transition: all 2s;
    }

    .pg6bg {
        top: 15%;
        left: 8%;
        width: 57vw;
        height: 38vw;
    }

    .pg1bg {
        top: 15%;
        left: 18%;
        width: 60vw;
        height: 45vw;
    }

    .pg2bg {
        top: 15%;
        left: 26%;
        width: 64vw;
        height: 46vw;
    }

    .pg3bg {
        top: 13%;
        left: 6%;
        width: 70vw;
        height: 40vw;
    }

    .pg4bg {
        top: 20%;
        left: 3%;
        width: 70vw;
        height: 45vw;
    }

    .pg5bg {
        top: -1%;
        left: 15%;
        width: 60vw;
        height: 62vw;
    }





    .indic {
        left: 44.8%;
    }


    /********************5페이지*************************/

    .p5img {
        width: 79%;
    }

    .p5tbox {
        top: 0;
    }

    .p5box {
        position: relative;
        top: 2%;
        left: 10%;

    }

    .mvbox1 {
        position: relative;
        top: 4%;
        left: 0%;
        width: 45vw;
        height: 25vw;
    }

    .mvtex1 {
        position: absolute;
        top: 89%;
        left: 5%;
        width: 55%;
        font-size: 1.6vw;
        z-index: 1;
        color: #fff;
        text-shadow: 1px 1px 1px #242323;
    }

    .mvbox2 {
        position: relative;
        top: 69%;
        left: 0%;
        width: 45vw;
        height: 25vw;
    }

    .mvtex2 {
        position: absolute;
        top: 238%;
        left: 5%;
        width: 55%;
        font-size: 1.6vw;
    }

    .p5bg {
        position: absolute;
        top: 23%;
        left: 13%;
        width: 65vw;
        height: 74vw;

    }

    .p5gnb {
        position: absolute;
        top: 13%;
        right: 0%;
        width: 26vw;
        height: 65vw;
        z-index: 10;
    }

    .p5gnb ul#navi {
        top: 26%;
    }

    .p5gnb div.title {
        height: 5vw;
        font-size: 1.5vw;
    }

    .p5gnb ul.sub li {
        height: 4vw;
        font-size: 1.3vw;
    }

    .p5gnb ul#navi {
        text-indent: 0px;
    }

    /*********************하단*********************/

    .foot {
        height: 30vw;
        overflow: visible
    }

    #info {
        top: 9%;
        width: 95vw;
    }

    .info {
        top: 0;
        height: 0;

        /*flex 랩핑!!!*/
        flex-wrap: wrap;

        /*수평간격일정*/
        justify-content: space-around;
        /*여러줄일떄 수직간격은?????*/
        align-content: center;
    }

    .gbox {
        position: relative;
        width: 9vw;
        margin: 0 auto;
    }

    .abtn img {
        width: 2vw;
        vertical-align: 7px;
    }

    .lb {
        left: 5%;
    }

    .rb {
        right: 5%;
    }

    .fban {
        height: 13%;
    }

    .flogo {
        top: 46%;
        left: 50%;
        transform: translateX(-50%);
        width: 23vw;
    }

    .info li {
        font-size: 1.4vw;
    }

    .add {
        top: 75%;
        left: 50%;
        transform: translateX(-50%);
        width: 90vw;
        text-align: center;
    }

    .add span {
        font-size: 1.3vw;
    }



























    /*미디어쿼리 - 1024*/



    @media only screen and (max-width:500px) {

        html,
        body {
            overflow-x: hidden;
            overflow-y: scroll;
            width: 100vw;
        }

        body>* {}

        #top {
            width: 100%;
        }

        .gnb {
            display: none;
        }

        .tloin {
            position: absolute;
            left: 50%;
            width: 200%;
        }

        #pg1 {
            margin-top: 70px;
            height: 54vw;
        }

        .sech img {
            left: -20%;
        }

        #rgnb {
            right: 1%;
            top: 200px;
        }

        .ptit a {
            font-size: 7vw;
        }


        /************************2페이지***********************/
        #pg2 {
            height: 113vw;
        }

        .p2bg {
            top: 111%;
            left: -45.3%;
            height: 58vw;
        }

        .p2tbox {
            left: 12%;
            width: 28%;
            ;
        }

        .ptit {
            top: 2%;
            left: 51%;
        }

        .p2bantit {
            top: 12%;
            left: 39%;
        }

        .p2bantit {
            height: 11vw;
        }

        .box_skitter {
            position: absolute;
            top: -10%;
            left: 24%;

            min-width: 76vw;
            min-height: 38vw;
            width: 46.89vw;
            height: 23.8vw;
        }

        .bx-wrapper {
            position: absolute;
            top: 167%;
            left: -56%;
        }

        .bx-wrapper {
            width: 50vw;
            height: 48vw;
        }

        .box_skitter .info_slide_dots .image_number {
            width: 2vw;
            height: 2vw;
        }

        .p2icfelx {
            /* flex: none;
            float: none; */
            top: 162%;
            left: 75%;
            width: 2vw;
            height: 46vw;
            flex-wrap: wrap;
        }

        .bx-wrapper .bx-controls-direction a  {
            width: 3vw;
            height: 3vw;
        }

        .bx-wrapper .bx-pager.bx-default-pager a {
            width: 1.8vw;
            height: 1.8vw;
        }

        .bx-wrapper .bx-pager {
            position: absolute;
            top: -2.5vw;
            left: -34%;
        }
        

        /************************3페이지************************/

        #pg3 {
            height: 116vw;
        }

        .p3bg {
            left: -4%;
            height: 56vw;
            width: 74vw;
        }

        .p3img {
            position: relative;
            left: 14%;
            width: 61%;
        }

        .p3icfelx {
            top: 160%;
            left: 45%;
            width: 76vw;
        }

        .p2nbox1 {
            top: 127%;
            left: -9%;
            width: 37vw;
            height: 35vw;
        }

        .p2nbox2 {
            top: 127%;
            left: 43%;
            width: 37vw;
            height: 35vw;
        }

        .boxmore img {
            width: 4vw;
        }



        /***********************4페이지****************************/

        #pg4 {
            height: 83vw;
        }

        .pg4p1box {
            left: 0%;
        }

        .pg4p2box {
            left: 50%;
        }

        .p4img {
            position: relative;
            left: -26%;
            width: 27vw;
        }

        .pg4p3box {
            left: 67%;
        }


        #p4box {
            top: 5%;
            left: 1.5%;
            width: 79vw;
        }

        .swiper-button-next {
            display: none;
        }

        .swiper-button-prev {
            display: none;
        }

        /***************************5페이지*****************************/

        #pg5 {
            height: 220vw;
        }

        .p5bg {
            left: 5%;
            width: 72vw;
            height: 100vw;
        }

        .p5tit {
            top: 0%;
        }

        .p5tbox {
            left: 10%;
        }

        .p5gnb {
            top: 410%;
            left: -16%;
            width: 56vw;
            height: 76vw;
        }

        .p5gnb ul.sub li {
            height: 6vw;
            font-size: 1.3vw;
        }

        .p5img {
            width: 96%;
        }

        .p5gnb div.title {
            height: 7vw;
            font-size: 1.5vw;
        }

        .mvbox1 {
            left: -11%;
            width: 78vw;
            height: 44vw;

        }

        .mvtex1 {
            top: 156%;
            left: -3%;
            width: 67vw;
        }

        .mvbox2 {
            top: 71%;
            left: -11%;
            width: 78vw;
            height: 44vw;
        }

        .mvtex2 {
            top: 368%;
            left: -3%;
            width: 67vw;
        }

        .p5gnb ul#navi {
            top: 8%;
        }


        .flogo {
            top: 51%;
        }

        .foot {
            height: 47vw;
            overflow-y: visible;
        }

        .gbox {
            width: 18.7vw;
        }

        .abtn {
            display: none;
        }








    }

    /*미디어 쿼리 500*/