@charset "utf-8";
/* 메인 CSS - main.css*/

/*외부 CSS파일 합치기*/
@import url(gridSet.css);
@import url(gridView.css);
@import url(reset.css);
@import url(core.css);
@import url(common.css);

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /*한페이지를 채우는 *page를 위해 높이값 100%보이는 화면 기준을 꼮해야함*/
}


body {
    /*사이트 디자인이미지 배경넣기*/
    background: url(../images/bg.png) no-repeat center top;
    opacity: 1;
}

.grid {
    z-index: -1
}

/*각 영역별 파티션 높이값 설정하기*/


/*1. 상단 로고*/
.t1 {
    height: 70px;
}

/*로고*/
#logo {
    position: relative;
    top: 50%;
    left: 1.5%;
    transform: translateY(-50%)
}

#logo img {
    max-width: 50%;

}

.lang {
    position: absolute;
    bottom: 28px;
    left: 36px;
}

.lang a {
    padding: 0px 13px;
    font-size: 0.875rem;
    font-family: 'malgun';
    letter-spacing: -3px;
    color: #444;
}


.tlang {
    color: #e8e8e8;
}

/*2. 메뉴바*/
.n1 {
    height: 66px;
}

/*3.배너영역*/
.b1 {
    height: 479px;
}


/*4. 컨텐츠영역*/
/*컨텐츠 1번박스 전체*/
.cont {
    margin-top: -21px;
}

/*컨테츠1*/
.c11 {
    margin-top: -21px;
    width: 33.333%;
    /*  height: 100%;
    비율유지속박스의 높이값 만큼 채우기*/
}

/*컨텐츠1 내너*/
#his {
    width: 100%;
    height: 100%;
}

#his li {
    position: relative;
    /*보모자격!!!*/
    width: 100%;
    height: 50%;
    box-sizing: border-box;
}


/*뉴스 이미지*/
#his img {
    
    
    width: 105%;
    height: 100%;
}

.his2 {
    padding: 0;
    padding-bottom: 20px;
    
}



/*컨텐츠 2-1*/
.cont2 {
    margin-top: 20px;
}
.c21 {
    
    height: 200px;
}

/*2-1배너*/
#ban1 {
    width: 100%;
    height: 100%;
}

#ban1 li {
    position: relative;
    /*부모자격*/
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#ban1 img {
    width: 100%;
    height: 100%;
}

/*2-1배너*/
#ban2 {
    width: 100%;
    height: 100%;
    
}

#ban2 li {
    position: relative;
    /*부모자격*/
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}



#ban2 img {
    width: 100%;
    height: 100%;
}

.ban{
    padding: 0;
}


/*컨텐츠 2-2*/
.c22 {
    margin-top: 22px;
    height: 139px;
}

/*컨텐츠 3번박스*/
#cont3 {
    margin-top: 33px;

}

/*컨텐츠 3-1*/
.c31 {
    height: 297px;
}

/*컨텐츠 3-2*/
.c32 {
    margin-top: 25px;
    height: 53px;
}

/*컨텐츠 3-3*/
.c33 {
    margin-top: 25px;
    height: 53px;
}

/*5.하단영역*/
.info {
    margin-top: 82px;

}

.i11 {
    height: 50px;
}

.i12 {
    height: 110px;
}


/*숨기기class*/
.dn {
    display: none;
}
